@import 'variables';
@import 'mixin';

#card{
    border: 0 !important;
    div{
        margin-top: 29px;
    }
}

input{
    @include fontShape(18px, $medium, #000000);
    margin-bottom: 20px !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 40px #0000001A !important;
    &:last-child{
        @include fontShape(18px, $regular, #000000);
    }
}


/*Button*/
.loginFont{
    @include fontShape(18px, $medium, #fff);
}
button{
    margin-top: 66px;
}
.btn{
    border-radius: 10px !important;
    &:focus{
        box-shadow:none !important;
    }
}

